{% extends 'main.html' %}

{% block content %}

<h1>HOME</h1>

<a href="{% url 'create-room' %}">Create a new room</a>
<br>
<br>

<div>
    {% for room in rooms %}
    <a href="{% url 'update-room' room.id%}">Edit</a>
    <a href="{% url 'delete-room' room.id%}">Delete</a>
    <br>
    <span>@{{room.host.username}}</span>
    <h5>{{room.id}} -- <a href="{% url 'room' room.id%}">{{room.name}}</a></h5>
    <small>{{room.topic.name}}</small>
    <hr>
    {% endfor %}
</div>




{% endblock content%}